@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
body {
    font-family: 'Slabo 27px', serif;
}

.content {
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
    color: #333;
}

.content h1,
.content p {
    text-align: center;
    padding-bottom: 15px;
}

.content h3 {
    text-align: center;
    padding: 25px;
}

.col {
    border: solid;
    border-width: 1px;
    border-color: #c7c7cc;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #45a1de;
    padding-right: 10px;
}