/*
Made by Henry Kaufman
twitter.com/kaufmanhenry
*/

* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.col {
    margin: 10px;
}
.col, .col:after, .col:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-sm-12, .col-md-12, .col-lg-12 {
    width: 100%;
}
.col-sm-8, .col-md-8, .col-lg-8 {
    width: calc((100% / 3) * 2);
}
.col-sm-6, .col-md-6, .col-lg-6 {
    width: 50%;
}
.col-sm-4, .col-md-4, .col-lg-4 {
    width: calc(100% / 3);
}
.col-sm-3, .col-md-3, .col-lg-3 {
    width: 25%;
}
.col-sm-2, .col-md-2, .col-lg-2 {
    width: calc(100% / 6);
}
.col-sm-1, .col-md-1, .col-lg-1 {
    width: calc(100% / 12);
}

/*Large*/

@media (max-width: 60em) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
        width: 100%;
    }
}

/*Medium*/

@media all and (max-width: 50em) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-12 {
        width: 100%;
    }
}

/*Small*/

@media all and (max-width: 40em) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-12 {
        width: 100%;
    }
}
